<header>
  <!-- navBar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Xml Editor App</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navBar-custom" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              >Crear Nodo</a
            >
          </li>
        </ul>
        <div class="container-auth-options">
          <button type="button" class="btn btn-primary">Cerrar Sesión</button>
        </div>
      </div>
    </div>
  </nav>
</header>
